<img src="img/python-logo-notext.svg"
     style="display:block;margin:auto;width:10%"/>
<h1 style="text-align:center;">Python: Pandas Data Frames 1</h1>
<h2 style="text-align:center;">Coding Akademie München GmbH</h2>
<br/>
<div style="text-align:center;">Dr. Matthias Hölzl</div>
<div style="text-align:center;">Allaithy Raed</div>

# Data Frames

Data Frames sind die am häufigsten verwendete Datenstruktur von Pandas.

Sie ermöglichen das bequeme Einlesen, Verarbeiten und Speichern von Daten.

Konzeptionell besteht ein Data Frame aus mehreren `Series`-Instanzen, die einen gemeinsamen Index haben.

In [1]:
import numpy as np
import pandas as pd

## Erzeugen eines Data Frames

### Aus einem NumPy Array

In [2]:
def create_data_frame():
    rng = np.random.default_rng(42)
    array = rng.normal(size=(5, 4), scale=5.0)
    index = 'A B C D E'.split()
    columns = 'w x y z'.split()
    return pd.DataFrame(array, index=index, columns=columns)

In [3]:
df = create_data_frame()
df

          w         x         y         z
A  1.523585 -5.199921  3.752256  4.702824
B -9.755176 -6.510898  0.639202 -1.581213
C -0.084006 -4.265220  4.396990  3.888960
D  0.330153  5.636206  2.337547 -4.296462
E  1.843754 -4.794413  4.392252 -0.249630

In [4]:
type(df)

pandas.core.frame.DataFrame

### Aus einer CSV-Datei

In [5]:
df_csv = pd.read_csv("example_data.csv")

In [6]:
df_csv

,Unnamed: 0,Col 0,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7
0,Index 0,4.076693,-11.592472,5.758058,1.995488,7.433482,-2.697633,10.386505,1.392989
1,Index 1,-8.091764,-9.263259,13.398781,3.364558,-4.504057,13.487790,19.387826,10.307054
2,Index 2,-9.967062,17.347022,-7.131536,8.946958,-4.560652,-1.350351,10.932789,14.030532
3,Index 3,4.473407,-4.188944,-9.067113,-20.351787,10.067044,-11.084616,-2.390302,-10.064766
4,Index 4,-10.909624,3.213494,18.101500,10.736058,-6.578314,4.997114,-6.464901,0.021843
...,...,...,...,...,...,...,...,...,...
995,Index 995,-14.445522,6.513853,-6.446964,-10.729593,-2.300384,14.966634,-4.796942,-12.922157
996,Index 996,12.300935,1.203874,5.127201,-13.744109,1.032070,14.428249,-12.334804,12.607952
997,Index 997,3.074044,6.492773,-2.589086,-11.088337,1.747953,16.040783,3.921457,-4.266764
998,Index 998,4.563576,14.066358,-4.915146,-6.283678,-1.343589,-22.898390,-6.044495,-14.400880
999,Index 999,8.426685,16.927540,12.667732,26.127088,8.269967,8.847097,-1.603626,17.094113

In [7]:
df_csv = pd.read_csv("example_data.csv", index_col=0)

In [8]:
df_csv

,Col 0,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7
Index 0,4.076693,-11.592472,5.758058,1.995488,7.433482,-2.697633,10.386505,1.392989
Index 1,-8.091764,-9.263259,13.398781,3.364558,-4.504057,13.487790,19.387826,10.307054
Index 2,-9.967062,17.347022,-7.131536,8.946958,-4.560652,-1.350351,10.932789,14.030532
Index 3,4.473407,-4.188944,-9.067113,-20.351787,10.067044,-11.084616,-2.390302,-10.064766
Index 4,-10.909624,3.213494,18.101500,10.736058,-6.578314,4.997114,-6.464901,0.021843
...,...,...,...,...,...,...,...,...
Index 995,-14.445522,6.513853,-6.446964,-10.729593,-2.300384,14.966634,-4.796942,-12.922157
Index 996,12.300935,1.203874,5.127201,-13.744109,1.032070,14.428249,-12.334804,12.607952
Index 997,3.074044,6.492773,-2.589086,-11.088337,1.747953,16.040783,3.921457,-4.266764
Index 998,4.563576,14.066358,-4.915146,-6.283678,-1.343589,-22.898390,-6.044495,-14.400880
Index 999,8.426685,16.927540,12.667732,26.127088,8.269967,8.847097,-1.603626,17.094113

### Aus einer Excel Datei

In [10]:
df_excel = pd.read_excel("excel_data.xlsx", index_col=0)

ValueError: Your version of xlrd is 2.0.1. In xlrd >= 2.0, only the xls format is supported. Install openpyxl instead.

In [282]:
df_excel

,Col 0,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10,Col 11
Index 0,4.076693,-11.592472,5.758058,1.995488,7.433482,-2.697633,10.386505,1.392989,-8.091764,-9.263259,13.398781,3.364558
Index 1,-4.504057,13.487790,19.387826,10.307054,-9.967062,17.347022,-7.131536,8.946958,-4.560652,-1.350351,10.932789,14.030532
Index 2,4.473407,-4.188944,-9.067113,-20.351787,10.067044,-11.084616,-2.390302,-10.064766,-10.909624,3.213494,18.101500,10.736058
Index 3,-6.578314,4.997114,-6.464901,0.021843,-2.473564,-19.782094,11.556567,4.545686,13.854239,-1.138480,-1.245364,-24.905710
Index 4,-0.753812,-3.029928,-10.729667,-12.453821,-13.675471,6.621271,-10.122960,-10.974487,-0.734146,-7.829734,-6.770842,-13.666861
...,...,...,...,...,...,...,...,...,...,...,...,...
Index 95,-4.112835,7.385291,-13.851625,-6.078196,11.023885,-5.512976,1.231175,6.411213,-1.683794,4.646666,18.364089,6.956441
Index 96,-4.436619,2.669846,6.218075,-9.575880,-3.399697,14.107305,-8.542899,7.253396,-0.474596,-11.268330,19.082276,1.434360
Index 97,-2.641866,-0.605210,-1.159309,10.960797,-20.105969,10.573056,3.127534,2.846807,7.143668,5.478037,0.536783,2.569418
Index 98,13.237843,-13.885348,18.912088,3.159741,-8.686046,-5.722742,4.098118,3.469731,-7.391454,7.783543,-8.647712,-10.910139
Index 99,16.327530,9.128792,11.217098,8.639888,0.715028,-1.312129,-1.885473,10.439447,0.101048,-0.820258,-3.173715,5.438891

In [290]:
df_excel2 = pd.read_excel("excel_other_sheet.xlsx", index_col=0)

In [291]:
df_excel2

Empty DataFrame
Columns: []
Index: []

In [292]:
df_excel2 = pd.read_excel("excel_other_sheet.xlsx", index_col=0, sheet_name='Another Sheet')

In [294]:
df_excel2.head()

,Col 0,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7
Index 0,4.076693,-11.592472,5.758058,1.995488,7.433482,-2.697633,10.386505,1.392989
Index 1,-8.091764,-9.263259,13.398781,3.364558,-4.504057,13.487790,19.387826,10.307054
Index 2,-9.967062,17.347022,-7.131536,8.946958,-4.560652,-1.350351,10.932789,14.030532
Index 3,4.473407,-4.188944,-9.067113,-20.351787,10.067044,-11.084616,-2.390302,-10.064766
Index 4,-10.909624,3.213494,18.101500,10.736058,-6.578314,4.997114,-6.464901,0.021843

### Andere Formate:

In [300]:
pd.read_clipboard
pd.read_html
pd.read_json
pd.read_pickle
pd.read_sql; # Verwendet SQLAlchemy um auf eine Datenbank zuzugreifen
# usw.

### Indizes und Operationen

In [213]:
df_csv.head()

,Col 0,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7
Index 0,4.076693,-11.592472,5.758058,1.995488,7.433482,-2.697633,10.386505,1.392989
Index 1,-8.091764,-9.263259,13.398781,3.364558,-4.504057,13.487790,19.387826,10.307054
Index 2,-9.967062,17.347022,-7.131536,8.946958,-4.560652,-1.350351,10.932789,14.030532
Index 3,4.473407,-4.188944,-9.067113,-20.351787,10.067044,-11.084616,-2.390302,-10.064766
Index 4,-10.909624,3.213494,18.101500,10.736058,-6.578314,4.997114,-6.464901,0.021843

In [214]:
df_csv.tail()

,Col 0,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7
Index 995,-14.445522,6.513853,-6.446964,-10.729593,-2.300384,14.966634,-4.796942,-12.922157
Index 996,12.300935,1.203874,5.127201,-13.744109,1.032070,14.428249,-12.334804,12.607952
Index 997,3.074044,6.492773,-2.589086,-11.088337,1.747953,16.040783,3.921457,-4.266764
Index 998,4.563576,14.066358,-4.915146,-6.283678,-1.343589,-22.898390,-6.044495,-14.400880
Index 999,8.426685,16.927540,12.667732,26.127088,8.269967,8.847097,-1.603626,17.094113

In [215]:
df = create_data_frame()
df['w']

A    1.381329
B    5.185952
C    0.743375
D   -9.094062
E    6.574383
Name: w, dtype: float64

In [216]:
type(df['w'])

pandas.core.series.Series

In [217]:
# Sollte nicht verwendet werden...
df.w

A    1.381329
B    5.185952
C    0.743375
D   -9.094062
E    6.574383
Name: w, dtype: float64

In [218]:
df[['w', 'y']]

          w          y
A  1.381329   3.119506
B  5.185952  -0.558491
C  0.743375  10.856285
D -9.094062   2.699198
E  6.574383  -5.461150

In [219]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [220]:
df.index.is_monotonic_increasing

True

In [221]:
df.size

20

In [222]:
df.ndim

2

In [223]:
df.shape

(5, 4)

### Erzeugen, Umbenennen und Löschen von Spalten

In [224]:
df = create_data_frame()
df['Summe aus w und y'] = df['w'] + df['y']

In [225]:
df

          w         x          y         z  Summe aus w und y
A  1.381329 -9.273140   3.119506  5.726556           4.500835
B  5.185952  9.433195  -0.558491 -1.810507           4.627461
C  0.743375 -2.188916  10.856285  5.761551          11.599660
D -9.094062 -0.690247   2.699198 -8.876411          -6.394864
E  6.574383 -2.367240  -5.461150 -1.250137           1.113233

In [226]:
df.rename(columns={'Summe aus w und y': 'w + y'})

          w         x          y         z      w + y
A  1.381329 -9.273140   3.119506  5.726556   4.500835
B  5.185952  9.433195  -0.558491 -1.810507   4.627461
C  0.743375 -2.188916  10.856285  5.761551  11.599660
D -9.094062 -0.690247   2.699198 -8.876411  -6.394864
E  6.574383 -2.367240  -5.461150 -1.250137   1.113233

In [227]:
df

          w         x          y         z  Summe aus w und y
A  1.381329 -9.273140   3.119506  5.726556           4.500835
B  5.185952  9.433195  -0.558491 -1.810507           4.627461
C  0.743375 -2.188916  10.856285  5.761551          11.599660
D -9.094062 -0.690247   2.699198 -8.876411          -6.394864
E  6.574383 -2.367240  -5.461150 -1.250137           1.113233

In [228]:
df.rename(columns={'Summe aus w und y': 'w + y'}, index={'E': 'Z'}, inplace=True)

In [229]:
df

          w         x          y         z      w + y
A  1.381329 -9.273140   3.119506  5.726556   4.500835
B  5.185952  9.433195  -0.558491 -1.810507   4.627461
C  0.743375 -2.188916  10.856285  5.761551  11.599660
D -9.094062 -0.690247   2.699198 -8.876411  -6.394864
Z  6.574383 -2.367240  -5.461150 -1.250137   1.113233

In [230]:
type(df['y'])

pandas.core.series.Series

In [231]:
del df['y']

In [232]:
df

          w         x         z      w + y
A  1.381329 -9.273140  5.726556   4.500835
B  5.185952  9.433195 -1.810507   4.627461
C  0.743375 -2.188916  5.761551  11.599660
D -9.094062 -0.690247 -8.876411  -6.394864
Z  6.574383 -2.367240 -1.250137   1.113233

In [233]:
df.drop('A')

          w         x         z      w + y
B  5.185952  9.433195 -1.810507   4.627461
C  0.743375 -2.188916  5.761551  11.599660
D -9.094062 -0.690247 -8.876411  -6.394864
Z  6.574383 -2.367240 -1.250137   1.113233

In [234]:
df

          w         x         z      w + y
A  1.381329 -9.273140  5.726556   4.500835
B  5.185952  9.433195 -1.810507   4.627461
C  0.743375 -2.188916  5.761551  11.599660
D -9.094062 -0.690247 -8.876411  -6.394864
Z  6.574383 -2.367240 -1.250137   1.113233

In [235]:
df.drop('B', inplace=True)

In [236]:
df

          w         x         z      w + y
A  1.381329 -9.273140  5.726556   4.500835
C  0.743375 -2.188916  5.761551  11.599660
D -9.094062 -0.690247 -8.876411  -6.394864
Z  6.574383 -2.367240 -1.250137   1.113233

In [237]:
df.drop('z', axis=1)

          w         x      w + y
A  1.381329 -9.273140   4.500835
C  0.743375 -2.188916  11.599660
D -9.094062 -0.690247  -6.394864
Z  6.574383 -2.367240   1.113233

In [238]:
df

          w         x         z      w + y
A  1.381329 -9.273140  5.726556   4.500835
C  0.743375 -2.188916  5.761551  11.599660
D -9.094062 -0.690247 -8.876411  -6.394864
Z  6.574383 -2.367240 -1.250137   1.113233

In [239]:
df.drop('z', axis=1, inplace=True)

In [240]:
df

          w         x      w + y
A  1.381329 -9.273140   4.500835
C  0.743375 -2.188916  11.599660
D -9.094062 -0.690247  -6.394864
Z  6.574383 -2.367240   1.113233

## Auswahl

In [241]:
df = create_data_frame()
df

          w         x          y         z
A  1.381329 -9.273140   3.119506  5.726556
B  5.185952  9.433195  -0.558491 -1.810507
C  0.743375 -2.188916  10.856285  5.761551
D -9.094062 -0.690247   2.699198 -8.876411
E  6.574383 -2.367240  -5.461150 -1.250137

In [242]:
df['w']

A    1.381329
B    5.185952
C    0.743375
D   -9.094062
E    6.574383
Name: w, dtype: float64

In [243]:
# Fehler
# df['A']

In [244]:
df.loc['B']

w    5.185952
x    9.433195
y   -0.558491
z   -1.810507
Name: B, dtype: float64

In [245]:
type(df.loc['B'])

pandas.core.series.Series

In [246]:
df

          w         x          y         z
A  1.381329 -9.273140   3.119506  5.726556
B  5.185952  9.433195  -0.558491 -1.810507
C  0.743375 -2.188916  10.856285  5.761551
D -9.094062 -0.690247   2.699198 -8.876411
E  6.574383 -2.367240  -5.461150 -1.250137

In [247]:
df.iloc[1]

w    5.185952
x    9.433195
y   -0.558491
z   -1.810507
Name: B, dtype: float64

In [248]:
df.loc[['A', 'C']]

          w         x          y         z
A  1.381329 -9.273140   3.119506  5.726556
C  0.743375 -2.188916  10.856285  5.761551

In [249]:
df.loc[['A', 'C'], ['x', 'y']]

          x          y
A -9.273140   3.119506
C -2.188916  10.856285

In [250]:
df.loc['B', 'z']

-1.8105066919952422

In [251]:
df.iloc[[1, 2], [0, 3]]

          w         z
B  5.185952 -1.810507
C  0.743375  5.761551

In [252]:
df.iloc[0, 0]

1.3813294501065938

## Bedingte Auswahl

In [253]:
df = create_data_frame()
df

          w         x          y         z
A  1.381329 -9.273140   3.119506  5.726556
B  5.185952  9.433195  -0.558491 -1.810507
C  0.743375 -2.188916  10.856285  5.761551
D -9.094062 -0.690247   2.699198 -8.876411
E  6.574383 -2.367240  -5.461150 -1.250137

In [254]:
df > 0

       w      x      y      z
A   True  False   True   True
B   True   True  False  False
C   True  False   True   True
D  False  False   True  False
E   True  False  False  False

In [255]:
df[df > 0]

          w         x          y         z
A  1.381329       NaN   3.119506  5.726556
B  5.185952  9.433195        NaN       NaN
C  0.743375       NaN  10.856285  5.761551
D       NaN       NaN   2.699198       NaN
E  6.574383       NaN        NaN       NaN

In [256]:
df['w'] > 0

A     True
B     True
C     True
D    False
E     True
Name: w, dtype: bool

In [257]:
df[df['w'] > 0]

          w         x          y         z
A  1.381329 -9.273140   3.119506  5.726556
B  5.185952  9.433195  -0.558491 -1.810507
C  0.743375 -2.188916  10.856285  5.761551
E  6.574383 -2.367240  -5.461150 -1.250137

In [258]:
df[df['w'] > 0][['x', 'y']]

          x          y
A -9.273140   3.119506
B  9.433195  -0.558491
C -2.188916  10.856285
E -2.367240  -5.461150

In [259]:
df[(df['w'] > 0) & (df['x'] < 0)]

          w         x          y         z
A  1.381329 -9.273140   3.119506  5.726556
C  0.743375 -2.188916  10.856285  5.761551
E  6.574383 -2.367240  -5.461150 -1.250137

# Information über Data Frames

In [260]:
df = pd.DataFrame(array, index=index, columns=columns)
df['txt'] = 'a b c d e'.split()
df.iloc[1, 1] = np.nan
df

          w         x         y         z txt
A  4.641923 -5.387286  0.673062 -5.980005   a
B -1.618579       NaN -1.710509  4.356739   b
C  5.681205 -0.765380  5.746993  3.140433   c
D  5.977453  3.093962 -5.836543 -0.058726   d
E -2.990556  5.051681 -2.973573 -2.629427   e

In [261]:
df.describe()

              w         x         y         z
count  5.000000  4.000000  5.000000  5.000000
mean   2.338289  0.498244 -0.820114 -0.234197
std    4.294727  4.608245  4.357500  4.220398
min   -2.990556 -5.387286 -5.836543 -5.980005
25%   -1.618579 -1.920857 -2.973573 -2.629427
50%    4.641923  1.164291 -1.710509 -0.058726
75%    5.681205  3.583392  0.673062  3.140433
max    5.977453  5.051681  5.746993  4.356739

In [262]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   w       5 non-null      float64
 1   x       4 non-null      float64
 2   y       5 non-null      float64
 3   z       5 non-null      float64
 4   txt     5 non-null      object
dtypes: float64(4), object(1)
memory usage: 240.0+ bytes

In [263]:
df.dtypes

w      float64
x      float64
y      float64
z      float64
txt     object
dtype: object

## Data Frame Index

In [264]:
df = create_data_frame()
df['txt'] = 'a b c d e'.split()
df

          w         x          y         z txt
A  1.381329 -9.273140   3.119506  5.726556   a
B  5.185952  9.433195  -0.558491 -1.810507   b
C  0.743375 -2.188916  10.856285  5.761551   c
D -9.094062 -0.690247   2.699198 -8.876411   d
E  6.574383 -2.367240  -5.461150 -1.250137   e

In [265]:
df.reset_index()

  index         w         x          y         z txt
0     A  1.381329 -9.273140   3.119506  5.726556   a
1     B  5.185952  9.433195  -0.558491 -1.810507   b
2     C  0.743375 -2.188916  10.856285  5.761551   c
3     D -9.094062 -0.690247   2.699198 -8.876411   d
4     E  6.574383 -2.367240  -5.461150 -1.250137   e

In [266]:
df

          w         x          y         z txt
A  1.381329 -9.273140   3.119506  5.726556   a
B  5.185952  9.433195  -0.558491 -1.810507   b
C  0.743375 -2.188916  10.856285  5.761551   c
D -9.094062 -0.690247   2.699198 -8.876411   d
E  6.574383 -2.367240  -5.461150 -1.250137   e

In [267]:
df.reset_index(inplace=True)

In [268]:
df

  index         w         x          y         z txt
0     A  1.381329 -9.273140   3.119506  5.726556   a
1     B  5.185952  9.433195  -0.558491 -1.810507   b
2     C  0.743375 -2.188916  10.856285  5.761551   c
3     D -9.094062 -0.690247   2.699198 -8.876411   d
4     E  6.574383 -2.367240  -5.461150 -1.250137   e

In [269]:
df.rename(columns={'index': 'old_index'}, inplace=True)

In [270]:
df

  old_index         w         x          y         z txt
0         A  1.381329 -9.273140   3.119506  5.726556   a
1         B  5.185952  9.433195  -0.558491 -1.810507   b
2         C  0.743375 -2.188916  10.856285  5.761551   c
3         D -9.094062 -0.690247   2.699198 -8.876411   d
4         E  6.574383 -2.367240  -5.461150 -1.250137   e

In [271]:
df.set_index('txt')

    old_index         w         x          y         z
txt
a           A  1.381329 -9.273140   3.119506  5.726556
b           B  5.185952  9.433195  -0.558491 -1.810507
c           C  0.743375 -2.188916  10.856285  5.761551
d           D -9.094062 -0.690247   2.699198 -8.876411
e           E  6.574383 -2.367240  -5.461150 -1.250137

In [272]:
df

  old_index         w         x          y         z txt
0         A  1.381329 -9.273140   3.119506  5.726556   a
1         B  5.185952  9.433195  -0.558491 -1.810507   b
2         C  0.743375 -2.188916  10.856285  5.761551   c
3         D -9.094062 -0.690247   2.699198 -8.876411   d
4         E  6.574383 -2.367240  -5.461150 -1.250137   e

In [273]:
df.set_index('txt', inplace=True)
df

    old_index         w         x          y         z
txt
a           A  1.381329 -9.273140   3.119506  5.726556
b           B  5.185952  9.433195  -0.558491 -1.810507
c           C  0.743375 -2.188916  10.856285  5.761551
d           D -9.094062 -0.690247   2.699198 -8.876411
e           E  6.574383 -2.367240  -5.461150 -1.250137

In [274]:
df.set_index('old_index', inplace=True)
df

                  w         x          y         z
old_index
A          1.381329 -9.273140   3.119506  5.726556
B          5.185952  9.433195  -0.558491 -1.810507
C          0.743375 -2.188916  10.856285  5.761551
D         -9.094062 -0.690247   2.699198 -8.876411
E          6.574383 -2.367240  -5.461150 -1.250137

In [275]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   w       5 non-null      float64
 1   x       5 non-null      float64
 2   y       5 non-null      float64
 3   z       5 non-null      float64
dtypes: float64(4)
memory usage: 200.0+ bytes

In [276]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object', name='old_index')

In [277]:
df.index.name = None

In [278]:
df

          w         x          y         z
A  1.381329 -9.273140   3.119506  5.726556
B  5.185952  9.433195  -0.558491 -1.810507
C  0.743375 -2.188916  10.856285  5.761551
D -9.094062 -0.690247   2.699198 -8.876411
E  6.574383 -2.367240  -5.461150 -1.250137