Importieren Sie Pandas und lesen Sie die Datei `population_by_county.csv` in einen Data Frame `population`

In [1]:
import pandas as pd

In [5]:
population = pd.read_csv('population_by_county.csv')

Zeigen Sie die ersten Zeilen des `population` Data Frames an.

In [6]:
population.head()

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054

Bestimmen Sie die Spaltennamen von `population`.

In [7]:
population.columns

Index(['County', 'State', '2010Census', '2017PopEstimate'], dtype='object')

Welche Staten werden in der Tabelle erfasst? Wie viele Staten sind das?

In [8]:
population['State'].unique()

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware'], dtype=object)

In [12]:
population['State'].nunique()

51

Welches sind die 10 häufigsten County-Namen in diesem Datensatz?

In [14]:
population['County'].value_counts()[0:10]

Washington County    30
Jefferson County     25
Franklin County      24
Jackson County       23
Lincoln County       23
Madison County       19
Montgomery County    18
Clay County          18
Marion County        17
Monroe County        17
Name: County, dtype: int64

Welches sind die 10 bevölkerungsreichsten Staaten nach der Schätzung 2017?

*Hinweis:* Verwenden Sie Hilfsvariablen um Zwischenergebnisse auszuwerten. Mit `Shift-Tab` können Sie sehen, welche Parameter die verwendeten Funktionen akzeptieren.

In [22]:
population_per_state = population.groupby('State').sum()['2017PopEstimate']

In [23]:
population_per_state.sort_values(ascending=False)[0:10]

State
California        39536653
Texas             28304596
Florida           20984400
New York          19849399
Pennsylvania      12805537
Illinois          12802023
Ohio              11658609
Georgia           10429379
North Carolina    10273419
Michigan           9962311
Name: 2017PopEstimate, dtype: int64

In [24]:
# Alternativ:
population_per_state.sort_values()[-10:]

State
Michigan           9962311
North Carolina    10273419
Georgia           10429379
Ohio              11658609
Illinois          12802023
Pennsylvania      12805537
New York          19849399
Florida           20984400
Texas             28304596
California        39536653
Name: 2017PopEstimate, dtype: int64

Wie viele Staaten haben nach der Schätzung 2017 mehr als 1 Million Einwohner?

In [26]:
population_per_state[population_per_state > 1_000_000].count()

44

Wie viele Counties haben das Wort "County" in ihrem Namen?

In [32]:
population['County'].apply(lambda n: 'County' in n).sum()

3007

Berechnen Sie, als Vorbereitung für die nächste Frage, die proportionale Änderung (d.h., 1.0 entspricht keiner Änderung) zwischen der Volkszählung von 2010 und der Schätzung von 2017 für alle Counties.

In [36]:
(population['2017PopEstimate'] - population['2010Census']) / population['2010Census']

0      -0.027344
1       0.013226
2      -0.018665
3       0.164347
4      -0.081750
          ...
3137    0.060194
3138    0.003186
3139    0.021686
3140    0.023208
3141   -0.016066
Length: 3142, dtype: float64

Fügen Sie eine Spalte `PercentChange` zu `population` hinzu, die die prozentuale Änderung zwischen der Volkszählung von 2010 und der Schätzung von 2017 angibt. (D.h. 100 entspricht keiner Änderung)

In [37]:
population['PercentChange'] = 100 * (population['2017PopEstimate'] - population['2010Census']) / population['2010Census']

In [38]:
population.head()

,County,State,2010Census,2017PopEstimate,PercentChange
0,Abbeville County,South Carolina,25417,24722,-2.734390
1,Acadia Parish,Louisiana,61773,62590,1.322584
2,Accomack County,Virginia,33164,32545,-1.866482
3,Ada County,Idaho,392365,456849,16.434697
4,Adair County,Iowa,7682,7054,-8.174954

Welche 10 Staaten haben die höchste prozentuelle Änderung?

*Hinweis:* Speichern Sie die pro Staat gruppierte Bevölkerung in einer neuen Tabelle und verwenden Sie diese zur Berechnung.

In [39]:
pop_by_state = population.groupby('State').sum()

In [41]:
del pop_by_state['PercentChange']

In [43]:
pop_by_state.head()

            2010Census  2017PopEstimate
State
Alabama        4779736          4874747
Alaska          710231           739795
Arizona        6392017          7016270
Arkansas       2915918          3004279
California    37253956         39536653

In [44]:
pop_by_state['PercentChange'] = 100 * (pop_by_state['2017PopEstimate'] - pop_by_state['2010Census']) / pop_by_state['2010Census']

In [45]:
pop_by_state.head()

            2010Census  2017PopEstimate  PercentChange
State
Alabama        4779736          4874747       1.987788
Alaska          710231           739795       4.162589
Arizona        6392017          7016270       9.766135
Arkansas       2915918          3004279       3.030298
California    37253956         39536653       6.127395

In [46]:
pop_by_state.sort_values('PercentChange', ascending=False)[0:10]

                      2010Census  2017PopEstimate  PercentChange
State
District of Columbia      601723           693972      15.330808
Texas                   25145561         28304596      12.562993
North Dakota              672591           755393      12.310899
Utah                     2763885          3101833      12.227282
Florida                 18801310         20984400      11.611372
Colorado                 5029196          5607154      11.492056
Nevada                   2700551          2998039      11.015826
Washington               6724540          7405743      10.130106
Arizona                  6392017          7016270       9.766135
Idaho                    1567582          1716943       9.528114